<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> PLANS </title>
  </head>
  <body>
    <div id="content" class="payment">
      <h1>订阅我们的付费服务</h1>
      <h2>支付宝担保交易，你可以在<span class="redish"> 7 </span>天内随时取消订阅</h2>
      <section class="packages2">
	<h2>一杯咖啡的价格, 订阅半年</h2>
	<table>
          <tbody>
	    <tr>
	      <td> 订阅 <strong>不限量</strong> 份杂志 <span></span></td>
	      <td class="price"> ¥5.99<span>/月</span>
		<a href="{%url payment_upgrade_account 'gold'%}">订阅</a>
		<br />
		<i>半年起定: ¥0.01</i>
	      </td>
	    </tr>
	    <tr>
	      <td> 订阅 <strong>6</strong> 份杂志 <span></span></td>
	      <td class="price"> ¥3.99<span>/月</span><a href="{%url payment_upgrade_account 'silver'%}">订阅</a><br /><i>半年起定: ¥0.01</i></td>
	    </tr>
	    <tr>
	      <td> 订阅 <strong>4</strong> 份杂志 <span></span></td>
	      <td class="price"> ¥2.99<span>/月</span>
		<a href="{%url payment_upgrade_account 'bronze'%}">订阅</a>
		<br />
		<i>半年起定: ¥0.01</i>
	      </td>
	    </tr>
	  </tbody>
	</table>
      </section>
    </div>
  </body>
</html>
